@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "~@contacto-io/style-guide/build/style-guide.css";

:root {
    --sms-color: var(--success-color);
    --voice-color: var(--secondary-color);
}

body {
    font-family: 'Poppins';
}

.main {
    height: 100vh;
    position: relative;
    overflow: hidden;
}